*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg-blue{
    background-color: rgb(41, 87, 100) !important;
    background-image: linear-gradient(to left, #fff, #00c8ff);
}


.c-w{
    color: #fff;
}

.heading h1{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Lobster', cursive;
}

.heading h1::after{
    content: "";
    background: #00c8ff;
    width: 200px;
    height: 5px;
    position: absolute;
    border-radius: 4px;
    bottom: 50;
    left: 50%;
    transform:translateX(-50%)
}


.card-text{
    font-size: 18px;
    font-weight: bold;
}



.card-title{
    margin-left: 10px;
    color: #00c8ff;
    font-size: 15px;
}


.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    position: relative;
}

.card .view{
    position: absolute;
    text-align: center;
    margin-top: 50px;
    display: none;
}

.stars{
    padding: 0;
}

.card .view button{
    margin-top: 25px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-left: 65px;
    overflow: hidden;
    

}

.card .view button:hover{
    font-size: 16.5px;
}

.cards:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    filter: blur(0px)
}

.card:hover .view{
    display: inline-block;
    z-index: 1;
   
}

.card:hover .button{
    display: inline-block;
    opacity: 100%;
   
}

.card-body i{
    margin-top: 15px;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #292b2c;
    margin-top: 20px;
}

footer .footer-content{
    color: #fff;
    font-family: 'Lobster', cursive;
    text-align: center;
}

/* modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /* width: 100%; Full width
    height: 100%; Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  .right-modal h1{
      font-family:  'Lobster', cursive;
  }

  .right-modal, .right-modal p{
      margin-top: 15px;
  }

  .right-modal button{
      margin-top: 20px;
      padding: 0.7rem;
      background: transparent;
      border: 2px solid black;
      border-radius: 20px;
      font-weight: bold;
      transition: 0.3s ease;
  }

  .right-modal button:hover{
      background-color: rgb(245, 236, 236);
  }

  .right-modal button i{
      margin-left: 5px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer .footer-links a img{
    width: 50px;
}

@media only screen and (max-width: 1080px){
    .main-modal{
        flex-direction: column;
        
    }
    .main-modal .left-modal{  
        
    }
}

@media only screen and (max-width: 800px) {
    footer .footer-content {
      display: none;
    }
    .footer-img img{
        width: 100px;
    }
    .main-modal{
        flex-direction: column;
        
    }
    .main-modal .left-modal{  
        width: 90px;
    }
  }

  @media only screen and (max-width: 800px){
      .left-modal img{
         width: 237px; 
      }
  }

  @media only screen and (max-width: 500px){
    .left-modal img{
       width: 160px; 
    }
    .modal-heading{
        font-size: 18px;
    
    }
    .right-modal{
        margin: 0px !important;
        margin-top: 5px !important;
    }
    .right-modal a button{
        font-size: 12px;
        margin-top: 5px !important;
    }
    .carousel{
        height: 196px !important;
    }
    .w-100{
        height: 200px !important;
        object-fit: cover;
    }

}



/* menu page css */

.menu-card{
    background-image: url(./images/menubg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    
}

.menu-img{
    width: 40%;
    margin: 0 auto;
    height: auto;
    z-index: 2;

}

.menu-img img{
    width: 100%;
}

/* why choose us css */

.service{
    width: 100%;
}

.service img{
    width: 100%;
}



/* 
   //////feedback */
   .feedbackbox{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    padding: 10px 20px ;
    
}

.feedBackForm{
    border-bottom: 2px solid black;
    width: 400px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    

}
.feedName{
    background-image: linear-gradient(to right , #00c8ff , #fff);
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 8px 8px 0 0;
    margin-bottom: 5px;
}
.feedBackForm .feedBackName , .feedBackCountry , .feedBackEmail , .feedBackMsg{
    width: 90%;
    /* margin: px 0; */

}
.feedBackForm .feedBackName input , .feedBackEmail input{
    width: 100%;
    padding: 8px;
    height: 40px;
    outline:none;
    border:none;
    border-bottom: 2px solid #00c8ff;
    font-family: 'Roboto';
    display: block;
}
.feedBackForm small{
    width: 100%;
    padding: 8px;
    color: red;
}
.feedBackForm select{
   width: 100%;
    padding: 8px;
    height: 40px;
    outline:none;
    border:none;
    border-bottom: 2px solid #00c8ff;
    font-family: 'Roboto';

}

.feedBackStar{
    width: 80%;
    text-align: center;
    margin: 10px 0;


}

.feedBackStar input{
    border: 1px solid red;
    display: block;
    text-align: center;
    
}
.feedBackStar input[type=radio]{
    width:20px;
    height: 2em;
    
}
.feedBackMsg p{
    text-align: center;
}
.feedBackMsg textarea{
    width: 100%;
    padding:8px ;
}
.feedbackbox button{
    width: 160px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background: none;
    font-weight:bold ;
    border: none ;
    background-image: linear-gradient(to right , #00c8ff ,  lightgrey);    
    margin-bottom: 15px;
} 
.feedbackbox button:hover{
    background-image: linear-gradient(to right ,   lightgrey , #00c8ff);    
}
.feedImage{
    width:350px;
}
  